/** @format */

.headerStyle {
    text-align: center;
    color: #fff;
    height: 64;
    padding-inline: 48;
    line-height: 64px;
    background-color: #4096ff;
}

.contentStyle {
    text-align: center;
    min-height: 120;
    line-height: 120px;
    color: #fff;
    background-color: #0958d9;
}

.siderStyle {
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #1677ff;
    width: 50px;
}

.footerStyle {
    text-align: center;
    color: #fff;
    background-color: #4096ff;
}

.layoutStyle {
    border-radius: 8;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
