/** @format */

.container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #AB7F4A;
}

.btn {
    background-color: #2E6171;
    border: none;
    color: white;
}
