/** @format */

* {
    font-family: "Inter", sans-serif !important;
    line-height: normal;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    border-radius: 0;
}

a {
    color: #000;
    text-decoration: none;
}
